<table class="table table-bordered ">
    <tr>
		<td width="20%">application</td>
		<td width="80%">
			<input class="form-control" name="application"  maxlength="20" value=""/>
		</td>
	</tr>
	<tr>
		<td width="20%">profile</td>
		<td width="80%">
			<input class="form-control" name="profile" validate="" maxlength="64" value=""/>
		</td>
	</tr>
	<tr>
		<td width="20%">label</td>
		<td width="80%">
			<input class="form-control" name="varLabel" validate="" maxlength="" value=""/>
		</td>
	</tr>
	<tr>
		<td width="20%">key</td>
		<td width="80%">
			<input class="form-control" name="key" validate="" maxlength="256" value=""/>
		</td>
	</tr>
	<tr>
		<td width="20%">value</td>
		<td width="80%">
			<input class="form-control" name="varValue" validate="notNull" validae maxlength="256" value=""/>
		</td>
	</tr>

</table>
