<table class="list">
    <tr>
        <th>名称</th>
        <th>执行间隔(ms)</th>
        <th>执行中</th>
        <th>最近一次开始</th>
        <th>最近一次结束</th>
        <th>执行次数</th>
        <th></th>
    </tr>
    #foreach($job in $jobInfoList)
    <tr>
        <td>${job.name}</td>
        <td>${job.periodMs}</td>
        <td>${job.running}</td>
        <td>$!{job.lastBegin.dateTime}</td>
        <td>$!{job.lastEnd.dateTime}</td>
        <td>${job.count}</td>
        <td>
            <button class="btn-mini btn-info" onclick="stopJob('${job.Name}')">暂停</button>
            <button class="btn-mini btn-success" onclick="showStack(this)">创建人</button>
            <pre style="display:none">$job.createInfo}</pre>
        </td>
    </tr>
    #end
</table>

<script>
    function stopJob(name) {
        ajaxUtil.data('${path}/remove',"name="+name,function (data) {
            dialog.alert("操作成功");
            menu.open("${path}/index")
        })
    }

    function showStack(el) {
        var html=$(el).parent().find("pre").html();
        dialog.alert("<pre>"+html+"</pre>");
    }
</script>